    * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
    }
    /* Navbar style */
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .nav-links ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        font-size: 0.8rem;
        gap: 18px;
    }
    
    .nav-links a {
        text-decoration: none;
        color: #333;
    }
    
    .common-button button {
        background-color: #1D4ED8;
        color: white;
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
    }
    /* NavBar Design End here */
    /* Hero Section design */
    
    .hero-section {
        margin-top: 10px;
    }
    
    .hero-content {
        background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./assets/banner.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        text-align: center;
    }
    
    .hero-text {
        color: white;
        padding: 200px 200px 200px 200px;
    }
    
    .hero-text h1 {
        font-size: 4rem;
        margin-bottom: 20px;
    }
    
    .hero-text p {
        font-size: 1rem;
        margin-bottom: 30px;
    }
    
    .hero-register-btn button {
        margin-bottom: 50px;
    }
    /* Hero Section design end here */
    /* Speaker Section Design */
    
    .speaker-section {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .meet-speaker {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        row-gap: 40px;
    }
    
    .speaker img {
        width: 45vw;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .speaker p {
        font-size: 0.6rem;
        margin-top: 5px;
    }
    
    .person-depertment {
        color: #1D4ED8;
        font-weight: 700;
        margin-bottom: 5px;
    }
    
    .sperker-text {
        padding: 10px 20px;
    }
    
    .first-speaker {
        width: 45vw;
        border: 1px solid #CACDCC;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(173, 172, 172);
    }
    
    .second-speaker {
        width: 45vw;
        border: 1px solid #CACDCC;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(173, 172, 172);
    }
    
    .third-speaker {
        width: 45vw;
        border: 1px solid #CACDCC;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(173, 172, 172);
    }
    
    .fourth-speaker {
        width: 45vw;
        border: 1px solid #CACDCC;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(173, 172, 172);
    }
    
    .speaker-section h1 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 3rem;
    }