    * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
    }
    /* Navbar style */
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .nav-links ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        font-size: 0.8rem;
        gap: 18px;
    }
    
    .nav-links a {
        text-decoration: none;
        color: #333;
    }
    
    .common-button button {
        background-color: #1D4ED8;
        color: white;
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
    }
    /* NavBar Design End here */
    /* Hero Section design */
    
    .hero-section {
        margin-top: 10px;
    }
    
    .hero-content {
        background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./assets/banner.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        text-align: center;
    }
    
    .hero-text {
        color: white;
        padding: 200px 200px 200px 200px;
    }
    
    .hero-text h1 {
        font-size: 4rem;
        margin-bottom: 20px;
    }
    
    .hero-text p {
        font-size: 1rem;
        margin-bottom: 30px;
    }
    
    .hero-register-btn button {
        margin-bottom: 50px;
    }
    
    .btn button:hover {
        background: #3867ea;
    }
    
    .hero-register-btn button:hover {
        background: #3867ea;
    }
    
    .nav-links li:hover {
        border-bottom: 1.5px solid #3867ea;
    }
    /* Hero Section design end here */
    /* Speaker Section Design */
    
    .speaker-section {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .meet-speaker {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        row-gap: 40px;
    }
    
    .speaker img {
        width: 45vw;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .speaker p {
        font-size: 0.6rem;
        margin-top: 5px;
    }
    
    .person-depertment {
        color: #1D4ED8;
        font-weight: 700;
        margin-bottom: 5px;
    }
    
    .sperker-text {
        padding: 10px 20px;
    }
    
    .first-speaker {
        width: 45vw;
        border: 1px solid #CACDCC;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(173, 172, 172);
    }
    
    .second-speaker {
        width: 45vw;
        border: 1px solid #CACDCC;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(173, 172, 172);
    }
    
    .third-speaker {
        width: 45vw;
        border: 1px solid #CACDCC;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(173, 172, 172);
    }
    
    .fourth-speaker {
        width: 45vw;
        border: 1px solid #CACDCC;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(173, 172, 172);
    }
    
    .speaker-section h1 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 3rem;
    }
    
    .speaker:hover {
        box-shadow: 0px 0px 20px rgb(110, 110, 110);
    }
    /* Secure Your Spot Section Design */
    
    .pricing {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .heading {
        text-align: center;
        margin-bottom: 60px;
    }
    
    .heading h1 {
        margin-top: 100px;
        font-size: 3rem;
        font-weight: 700;
        color: #111827;
    }
    
    .heading p {
        margin-top: 12px;
        color: #6b7280;
        font-size: 0.9rem;
    }
    
    .pricing-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    
    .card {
        background: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 18px;
        padding: 35px;
        display: flex;
        flex-direction: column;
    }
    
    .card:hover {
        box-shadow: 0 20px 40px rgba(0, 0, 0, .12);
    }
    
    .plan {
        font-size: 0.8rem;
        font-weight: 700;
        color: #6b7280;
        margin-bottom: 20px;
    }
    
    .card h2 {
        font-size: 3.5rem;
        font-weight: 800;
        color: #111827;
    }
    
    .sub {
        margin-top: 8px;
        color: #6b7280;
    }
    
    .card hr {
        margin: 30px 0;
        border: none;
        border-top: 1px solid #dedddd;
    }
    
    .card ul {
        list-style: none;
        flex: 1;
    }
    
    .card ul li {
        margin-bottom: 20px;
        color: #374151;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    .card button {
        width: 100%;
        height: 55px;
        border: 2px solid #2563eb;
        background: white;
        color: #2563eb;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .card button:hover {
        background: #2563eb;
        color: white;
    }
    /* Pro Card */
    
    .pro {
        background: #111c2f;
        color: white;
    }
    
    .pro .plan,
    .pro .sub,
    .pro ul li {
        color: #d7dce5;
    }
    
    .pro h2 {
        color: white;
    }
    
    .pro hr {
        border-top: 1px solid rgba(255, 255, 255, .12);
    }
    
    .pro button {
        background: #2563eb;
        color: white;
        border: none;
    }
    
    .pro button:hover {
        background: #1d4ed8;
    }